<div class="ui small feed">
  <div class="ui header">
    <h4></h4>
  </div>
  <div class="event">
    <div class="label">
      <img src="/images/avatar/small/elliot.jpg">
    </div>
    <div class="content">
      You added Elliot Fu to the group <a>Coworkers</a>
    </div>
  </div>
</div>