<h4 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Say something
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <%= render 'feed' %>
  </div>

  <div class="four wide column">
    <div class="ui card fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a href="" class="item">
            Messages
          </a>
        </div>
      </div>
    </div>
  </div>
</div>