<h4 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Say something
</h4>

<div class="twelve wide column">
  <div class="ui two column grid">
    <%= render 'feed' %>
  </div>
</div>

<div class="four wide column">
  <div class="ui inverted vertical menu">
    <a class="active item">
      Home
    </a>
    <a href="" class="item">
      Messages
    </a>
  </div>
</div>